*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    transition: background-color 0.3s ease, color 0.3s ease;
}
#nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.95);
    top: 0;
    box-shadow: 0 2px 20px rgba(0,0,0,0.1);
    width: 100%;
    flex-wrap: nowrap;
    padding: 20px;
    color: #2c3e50;
}

#nav-links > ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 2rem;
}
#nav-links ul li {
    cursor: pointer; 
    padding: 0.5rem 1rem;
    transition: background 0.3s;
    color: #2c3e50;
}

#nav-links ul li:hover {
    background-color: rgba(255,255,255,0.2);
    border-radius: 4px;
}

#nav-buttons {
    display: flex;
    gap: 1rem;
}

#nav-buttons button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4rem;
    cursor: pointer;
}

.toggle-btn {
    background-color: rgba(0,0,0,0.2);
    color: white;
}
.toggle-btn:hover{
    background-color: rgba(0, 0, 0, 0.986);
}

.hire-btn {
    background-color: #4CAF50;
    color: white;
}
.hire-btn:hover{
 background-color: #09880d;
}
.bgdark{
    background-color: rgba(26, 26, 26, 0.95);
    color: #ecf0f1;
}